@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');


body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Dosis', sans-serif;
}

#header-text {
  text-shadow: 0px 0px 1px white;
}

.home-category-images {
  width: 95%; 
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

#products-window {
  width: 90%;
  display: flex;
  align-items: center;
  align-content: flex-start;
  gap: 4rem;
  flex-wrap: wrap;
  padding-top: 3rem;
  /* background-color: blue; */
}

.product-card {
  /* border-style: none !important; */
  /* overflow: hidden; */
  /* border-radius: 0 !important; */
  padding: 0 !important;
  margin:'20px';
}

.card-img-top {
  border-radius: 0 !important;
  cursor: pointer;
  width: inherit;
}

.product-title {
  font-size: 19px !important;
  padding: none;
  margin: none;
}

.product-title:hover {
  transition: .1s;
  text-decoration: underline;

}

.product-prices {
  padding: 0;
  margin: 0;
}

.product-card-button {
  background-color: rgb(153,164,130) !important;
  border-style: none !important;
  border-radius: 0 !important;
  opacity: 0;
}

#navigation-container {
  width: 100%;
  height: auto;
  border-style: solid;
  border-color: rgb(153,164,130);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 1000;
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  background-color: white;

}

#navigation {
  background-color: transparent !important;
}

.nav-link {
  font-size: 18px !important;
  font-family: 'Dosis', sans-serif !important;
  font-weight: 500 !important;
}

#topbar {
  background-color: rgb(153,164,130);
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: right;
}

#sidebar {
  padding: 10px;
  display: flex;
  flex-direction: column;    
  gap: 0px;
  justify-content: top;
  width: 18%;
  margin-left: 50px;
  margin-right: 25px;
}

.new-box {
  position: absolute;
  width: 50px;
  text-align: center;
  background-color: rgb(153,164,130);
  color: white;
  border-radius: 0 !important;
}

.sale-box {
  position: absolute;
  left: auto;
  right: 0;
  width: 50px;
  text-align: center;
  background-color: #DC4C64;
  color: white;
}

.sidebar-category {
  margin-top: 10px;
  margin-bottom: 10px;
}


.css-checkbox { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; 
  width: 1px; 
  margin: -1px; 
  padding: 0; 
  border: 0;
}
                
.css-checkbox + label { 
  position: relative; 
  font-size: 14px; 
  cursor: pointer; 
  display: inline-flex; 
  align-items: center; 
  height: 20px; 
  color: rgb(0, 0, 0); 
}

.css-checkbox + label::before { content: " "; 
  display: inline-block; 
  vertical-align: middle; 
  margin-right: 3px; 
  width: 18px; 
  height: 18px; 
  background-color: white; 
  border-width: 1px; 
  border-style: solid; 
  border-color: rgb(204, 204, 204); 
  border-radius: 0px; 
  box-shadow: rgba(42, 42, 42, 0) -1px 0px 5px 0px; 
}

.css-checkbox:checked + label::after { 
  content: " "; 
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjNDA3YzUxIiBkPSJNNTEyIDI1NkM1MTIgMzk3LjQgMzk3LjQgNTEyIDI1NiA1MTJDMTE0LjYgNTEyIDAgMzk3LjQgMCAyNTZDMCAxMTQuNiAxMTQuNiAwIDI1NiAwQzM5Ny40IDAgNTEyIDExNC42IDUxMiAyNTZ6Ii8+PC9zdmc+"); 
  background-repeat: no-repeat; 
  background-size: 12px 12px; 
  background-position: center center; 
  position: absolute; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin-left: 0px; 
  left: -1px; 
  top: 0px; 
  text-align: center; 
  background-color: transparent; 
  font-size: 10px; 
  height: 20px; 
  width: 20px;
  transition: 1s;
}

.homepage-info-squares {
  font-family: 'Dosis', sans-serif !important;
  font-weight: 300;
  font-size: 24px;
  display: flex; 
  justify-content: center; 
  align-items: center;
  flex-direction: column;
  height: 100%;
  color: rgb(130,130,130);
  text-align: center;
}

.homepage-info-squares:hover {
  color: rgb(153,164,130);
  transition: .3s;
}

.cartQty {
  background-image: radial-gradient(circle, #DC4C64, #DC4C64 66%, transparent 66%);
  display: inline-block; 
  position: absolute;
  width: 22px;
  height: 22px;
  font-weight: 600;
  right: 25px;
  top: 30px;
}

.cartQtyNav {
  background-image: radial-gradient(circle, #DC4C64, #DC4C64 66%, transparent 66%);
  display: inline-block; 
  position: absolute;
  width: 22px;
  height: 22px;
  font-weight: 600;
  left: 23px;
  top: 10px;
}

#cart {
  font-family: 'Dosis', sans-serif !important;
  overflow-y: scroll !important;
}

.cart-items-div::-webkit-scrollbar {
  -webkit-appearance: none;
}

.cart-items-div::-webkit-scrollbar:vertical {
  width: 11px;
}

.cart-items-div::-webkit-scrollbar:horizontal {
  display: none;
}

.cart-items-div::-webkit-scrollbar-thumb {
  border-radius: 0px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgb(153,164,130);
}




.cart-item {
  width: 90%;
  border-style: solid;
  border-color: rgb(153,164,130,.8);
  border-width: 1px 0px 1px 0px;
  margin-top: -1px;
  margin-left: -5px;
}

.cart-item-remove{
  position: relative;
  display: block;
  left: 105%;
  top: 0;
  color: rgb(128, 128, 128);
  cursor: pointer;
}

/* slide up animation for cart buttons */
.animate-bottom {
  animation: animatebottom 0.4s;
  animation-fill-mode:forwards;
  animation-iteration-count: 1;
}

.animate-away {
  animation: animateaway 0.4s;
  animation-fill-mode:forwards;
  animation-iteration-count: 1;
}

@keyframes animatebottom {
  from {
    transform: scaleY(0);
    opacity: 0;
  }

  to {
    transform: scaleY(30px);
    opacity: 1;
  }
}

@keyframes animateaway {
  from {
    transform: scaleY(30px);
    opacity: 1;
  }

  to {
    display: none;
    transform: scaleY(0);
    opacity: 0;
  }
}


/* slide up animation for cart buttons */
.animate-fade-in {
  animation: animatefadein 0.4s;
  animation-fill-mode:forwards;
  animation-iteration-count: 1;
}

.animate-fade-out {
  animation: animatefadeout 0.4s;
  animation-fill-mode:forwards;
  animation-iteration-count: 1;
}

@keyframes animatefadein {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 100;
    transform: scale(100%);

  }
}

@keyframes animatefadeout {
  from {
    opacity: 1;
    transform: scale(100%);
  }

  to {
    opacity: 0;
    transform: scale(0);
  }
}


#qty-dropdown {
  width: 100px;
  height: 40px;
  border-radius: 0;
}

#qty-dropdown :focus {
  border-radius: 0 !important;
}

#qty-bar {
  width: 75%;
}

@media (max-width: 767.98px) { 

  #sidebar {
    display: none;
  }

  .product-card {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  #qty-bar {
    margin: auto;
    padding-bottom: 30px;
  }

  #homepage-banner-text {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    font-size: 150%;
    padding-left: 5px;
}

  #topbar-text {
    font-size: 70%;
  }

 }

 @media (min-width: 767.98px) { 

  .product-card {
    margin: 30px;
  }

  #qty-bar {
    padding-bottom: 30px;
  }

  #homepage-banner-text {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 150%;
  }

  #category-section {
    height: "calc(100vh)",
  }

}