@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');


body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Dosis', sans-serif;
}

#products-window {
  width: 90%;
  display: flex;
  align-items: center;
  align-content: flex-start;
  gap: 4rem;
  flex-wrap: wrap;
  padding-top: 3rem;
  /* background-color: blue; */
}

.product-card {
  border-style: none !important;
  overflow: hidden;
  width: 200px;
}

.product-title {
  font-size: 19px !important;
  padding: none;
  margin: none;
}

.product-title:hover {
  transition: .1s;
  text-decoration: underline;

}

.product-prices {
  padding: 0;
  margin: 0;
}

.product-card-button {
  background-color: rgb(64,124,81) !important;
  border-style: none !important;
  position: absolute;
  top: 188px;
  border-radius: 0 !important;
  width: inherit;
}

#navigation-container {
  width: 100%;
  height: auto;
  border-style: solid;
  border-color: rgb(64,124,81);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-top: 5px;

}

#navigation {
  background-color: transparent !important;
}

#topbar {
  background-color: rgb(64,124,81);
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: right;
}

#sidebar {
  padding: 10px;
  display: flex;
  flex-direction: column;    
  gap: 0px;
  justify-content: top;
  width: 25%;
  margin-left: 50px;
  margin-right: 25px;
}

.new-box {
  position: absolute;
  width: 50px;
  text-align: center;
  background-color: rgb(64,124,81);
  color: white;
}

.sale-box {
  position: absolute;
  left: auto;
  right: 0;
  width: 50px;
  text-align: center;
  background-color: red;
  color: white;
}

.sidebar-category {
  margin-top: 10px;
  margin-bottom: 10px;
}


.css-checkbox { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; 
  width: 1px; 
  margin: -1px; 
  padding: 0; 
  border: 0;
}
                
.css-checkbox + label { 
  position: relative; 
  font-size: 14px; 
  cursor: pointer; 
  display: inline-flex; 
  align-items: center; 
  height: 20px; 
  color: rgb(0, 0, 0); 
}

.css-checkbox + label::before { content: " "; 
  display: inline-block; 
  vertical-align: middle; 
  margin-right: 3px; 
  width: 18px; 
  height: 18px; 
  background-color: white; 
  border-width: 1px; 
  border-style: solid; 
  border-color: rgb(204, 204, 204); 
  border-radius: 0px; 
  box-shadow: rgba(42, 42, 42, 0) -1px 0px 5px 0px; 
}

.css-checkbox:checked + label::after { 
  content: " "; 
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjNDA3YzUxIiBkPSJNNTEyIDI1NkM1MTIgMzk3LjQgMzk3LjQgNTEyIDI1NiA1MTJDMTE0LjYgNTEyIDAgMzk3LjQgMCAyNTZDMCAxMTQuNiAxMTQuNiAwIDI1NiAwQzM5Ny40IDAgNTEyIDExNC42IDUxMiAyNTZ6Ii8+PC9zdmc+"); 
  background-repeat: no-repeat; 
  background-size: 12px 12px; 
  background-position: center center; 
  position: absolute; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin-left: 0px; 
  left: -1px; 
  top: 0px; 
  text-align: center; 
  background-color: transparent; 
  font-size: 10px; 
  height: 20px; 
  width: 20px;
  transition: 1s;
}